<%- include ('partials/header') %> 
<%- include ('partials/nav') %> 
    <div class="row no-gutters mt-5">
        <div class="col-md-1 bg-light"></div>
        <div class="col-md-10">
            <h3 class="text-center mt-4">Task Collections</h3>
            <div class="row no-gutters px-4">
                <% for( let i = 0; i < items.length; i++ ) { %>
                    <div class="card items-card m-2" style="width: 16rem;">
                        <img class="card-img-top mt-2" src="/images/download.jpeg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title"><%= items[i].name %> </h5>
                            <% if (isLogin) { %>
                                <div class="d-flex">
                                    <a href="/detail/<%= items[i].id %> " class="btn btn-primary mx-1">Detail</a>
                                    <form action="/delete/<%= items[i].id %> " method="post">
                                        <button type="submit" class="btn btn-danger mx-1">Delete</button>
                                    </form> 
                                </div>
                            <% } else { %>
                                <div class="d-flex">
                                    <button onclick="loginAlert()" class="btn btn-primary mx-1">Detail</button>
                                    <button onclick="loginAlert()" class="btn btn-danger mx-1">Delete</button>
                                </div>
                            <%}%>
                        </div>
                    </div>
                <% } %>
            </div>
            <% if (isLogin) { %>
                <div class="d-flex justify-content-center mt-3">
                    <a href="/add" class="btn btn-success">Add Collections</a>
                </div>
                <div class="d-flex justify-content-center mt-3">
                    <a href="/addTask" class="btn btn-success">Add Task</a>
                </div>
            <% } else { %>
                <div class="d-flex justify-content-center mt-3">
                    <button onclick="loginAlert()" class="btn btn-success">Add Collections</button>
                </div>
                <div class="d-flex justify-content-center mt-3">
                    <a href="/addTask" class="btn btn-success">Add Task</a>
                </div>
            <% } %>
            
        </div>
        <div class="col-md-1 bg-light"></div>
    </div>

    <script>
        function loginAlert(){
          alert("Please login first!");
        }
      </script>
<%- include ('partials/footer') %> 